@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: calc(100vw / 1600 * 10);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Prata", serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

p,
span {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.sliders {
  background-color: #552448;
  height: calc(100vh - 9rem);
  color: #e0d8ce;
  text-align: center;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliders .owl-item {
  border: 2px dashed #e0d8ce;
  border-width: thin;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 25rem);
  overflow: hidden;
}

.sliders .owl-carousel .owl-stage-outer {
  overflow: visible;
}

.sliders h1 {    
  font-size: 9rem;
  line-height: 12rem;
  text-transform: uppercase;
  cursor: pointer;
}

.sliders p {
  font-size: 3.2rem;
  line-height: 4.8rem;
  text-transform: capitalize;
}

.sliders .owl-carousel .owl-nav button.owl-next {
  border: 1px solid #e0d8ce !important;
  border-radius: 100% !important;
  padding: 12.5px 20px !important;
}

.sliders .owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: #552448 !important;
}

.sliders .owl-theme .owl-nav {
  margin-top: 3.5rem;
}

.sliders .single__title {
  margin-top: -4.5rem;
}

.visionary {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 9rem);
}

.visionary .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.visionary__inner h1 {
  font-size: 16vw;
  font-size: 24.9rem;
  line-height: normal;
  color: #552448;
  margin: 0 9rem 0 -4.3rem;
  text-transform: uppercase;
  z-index: 100;
  position: relative;
}

.visionary__inner p {
  font-size: 4.3rem;
  line-height: 5.6rem;
  width: 52.2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #552448;
  z-index: 100;
  position: relative;
}

.visionary__title {
  font-size: 16vw;
  font-size: 24.9rem;
  line-height: normal;
  text-align: right;
  text-transform: uppercase;
  color: #552448;
  z-index: 100;
  position: relative;
  margin-right: -3.3rem;
  margin-top: -5.8rem;
}

.visionary .circle {
  position: absolute;
  height: 70rem;
  width: 70rem;
  left: 29.6rem;
  top: calc(50% - 35rem);
  border-radius: 100%;
  border: 3px dashed #e0d8ce;
  left: 45%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 0;
  cursor: pointer;
}

.visionary .circle:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  left: 25%;
}

.culture,
.brand,
.growth,
.innovation {
  background-image: url(../images/cultureBanner3.png);
  background-position: center center;
  background-size: cover;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
}

.culture .row,
.brand .row,
.growth .row,
.innovation .row {
  height: calc(100vh - 90px);
}

.culture h1,
.brand h1,
.growth h1,
.innovation h1 {
  font-size: 20.9vw;
  margin-left: -45px;
  color: white;
  color: #e0d8ce;
  z-index: 999;
  cursor: pointer;
  margin-bottom: 0;
  text-transform: uppercase;
}

.brand {
  background-image: url(../images/brandBanner.png);
}

.brand h1 {
  font-size: 28vw;
  margin-left: -5vw;
}

.growth {
  background-image: url(../images/growthBanner.png);
}

.growth h1 {
  font-size: 21.5vw;
  margin-left: -4vw;
}

.innovation {
  background-image: url(../images/innovatioBanner.png);
}

.innovation h1 {
  font-size: 15.4vw;
  margin-left: -3vw;
}

.cultureHover:hover {
  background-image: url(../images/cultureHover.png);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.brandHover:hover {
  background-image: url(../images/brandBannerHover.png);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.growthHover:hover {
  background-image: url(../images/growthHover.png);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.innovationHover:hover {
  background-image: url(../images/innovationHover.png);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.quote-section {
  background-image: url(../images/quoteBanner.png);
  background-repeat: no-repeat;
  height: calc(100vh - 9rem);
  overflow: hidden;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-section .quote__title {
  position: absolute;
  top: 0;
}

.quote-section .quote {
  width: 120rem;
  margin: 0 auto;
  width: 93rem;
}

.quote span {
  font-size: 2.6rem;
  line-height: 3.6rem;
  text-align: right;
  margin-left: auto;
  margin-right: 0;
  display: block;
  color: #828282;
  text-transform: uppercase;
}

.quote__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.quote__inner p {
  font-size: 3.6rem;
  line-height: 4.9rem;
  color: #284285;
  text-transform: uppercase;
  font-family: "Prata", serif;
  padding-bottom: 25px;
}

.quote__inner h1 {
  color: #284285;
  font-size: 12rem;
  line-height: 16.7rem;
  margin-bottom: 0;
  text-transform: uppercase;
}



.quote-section .quote__inner h1.bigger-1 {
  font-size: 7rem;
  line-height: 8.7rem;
}

.quote-section .quote__inner h1.bigger-2 {
  font-size: 7.7rem;
  line-height: 8.7rem;
}

.quote-section .quote__inner h1.bigger-3 {
  font-size: 9rem;
  line-height: 12.7rem;
}

.quote__inner img {
  margin-right: 3rem;
}

.quote__title {
  line-height: 3.4rem;
  margin: 5rem 0 9.4rem 5rem;
  text-transform: uppercase;
  color: #284285;
  font-size: 2.5rem;
}

.cover {
  background: url(../images/RD_01.png);
  background-size: cover;
}

.cover__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: calc(100vh - 90px);
}

.cover p {
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: white;
}

.cover h1 {
  font-size: 22rem;
  line-height: 26.4rem;
  text-transform: uppercase;
  /* padding-top: 35px; */
  color: #e0d8ce;
}

.cover .title {
  height: 354px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed #e0d8ce;
  border-radius: 150px;
  width: 115%;
}

.cover .title img {
  width: 87%;
}

.cover-back {
  background-image: url(../images/RD_27/image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover-back__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: calc(100vh - 9rem);
}

.cover-back h1 {
  font-size: 15.5vw;
  line-height: normal;
  text-transform: uppercase;
  color: white;
  margin-left: -12rem;
}

.cover-back .title {
  height: 35.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115%;
}

.cover-back p {
  text-transform: uppercase;
  font-size: 3.4rem;
  line-height: 4.6rem;
  color: #e0d8ce;
  margin-left: 6.7rem;
  font-family: "Prata", serif;
}

.cover-back .logo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 7.6rem;
  width: 32.9rem;
}

.cover-back .title img {
  width: 100%;
}

.cover-back footer {
  text-align: right;
  margin-right: 6.3rem;
  color: #fff;
  font-family: "Prata", serif;
  font-size: 3.4rem;
  line-height: 4.6rem;
  text-transform: uppercase;
}

.unique-dna {
  background-image: url(../images/dnaBanner.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.unique-dna__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 9rem);
}

.unique-dna__inner .title-one {
  top: -2rem;
  position: absolute;
}

.unique-dna__inner span {
  font-size: 16rem;
  line-height: 16.3rem;
  text-transform: uppercase;
  color: #552448;
  font-family: "Prata", serif;
}

.unique-dna__inner h1 {
  font-size: 32rem;
  line-height: 32.6rem;
  text-align: right;
  margin-right: -4rem;
  color: #552448;
  cursor: pointer;
}

.unique-dna__inner p {
  font-size: 3.2rem;
  line-height: 4.2rem;
  margin-left: 13.5rem;
  max-width: 67rem;
  text-transform: uppercase;
  color: #552448;
  margin-top: 6.4rem;
}

.cultureQuote-section {
  background-image: url(../images/cultureQuote.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: calc(100vh - 9rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cultureQuote-section .quote {
  padding-top: 0;
}

.cultureQuote-section .quote span {
  text-align: left;
}

.cultureQuote-section .quote__title {
  margin: 5rem 0 8.5rem 5rem;
  text-transform: uppercase;
  color: #D29069;
  font-size: 2.5rem;
  line-height: 3.4rem;
  position: absolute;
  top: 0;
}

.cultureQuote-section .quote__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 131.9rem;
}

.cultureQuote-section .quote__inner img {
  margin-right: 5.2rem;
}

.cultureQuote-section .quote__inner p {
  font-size: 3.9rem;
  line-height: 5.4rem;
  color: #D29069;
  text-transform: uppercase;
  font-family: "Prata", serif;
}

.cultureQuote-section .quote__inner h1 {
  color: #D29069;
  font-size: 10.8rem;
  line-height: 14.6rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.brandQuote-section {
  background-image: url(../images/RD_11/brandQuoteCover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  height: calc(100vh - 9rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandQuote-section .quote__title {
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #9F3232;
  margin: 5rem 0 9.4rem 5rem;
  position: absolute;
  top: 0;
  font-family: "Open Sans", sans-serif;
}

.brandQuote-section .quote {
  padding-top: 0;
}

.brandQuote-section .quote__inner {
  width: 99rem;
  margin-left: 18rem;
  margin-left: auto;
  margin-right: auto;
}

.brandQuote-section p {
  font-size: 4.2rem;
  line-height: 5.6rem;
  color: #9F3232;
  font-family: "Prata", serif;
}

.brandQuote-section h1 {
  font-size: 12.5rem;
  line-height: 14.1rem;
  color: #9F3232;
}

.brandQuote-section .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5rem;
}

.brandQuote-section .author span {
  text-align: left;
  font-size: 2.5rem;
  line-height: 3.4rem;
}

.growthQuote-section {
  background-image: url(../images/growthQuoteCover.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  height: calc(100vh - 9rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.growthQuote-section .quote__title {
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #6E8869;
  margin: 5rem 0 9.4rem 5rem;
  position: absolute;
  top: 0;
  font-family: "Open Sans", sans-serif;
}

.growthQuote-section .quote {
  padding-top: 0;
  width: 119.5rem;
  margin-left: 13.5rem;
  margin-left: 100px;
  margin-right: auto;
}

.growthQuote-section .quote span {
  text-align: left;
  font-size: 3rem;
  line-height: 4.1rem;
}

.growthQuote-section p {
  font-size: 4.5rem;
  line-height: 6rem;
  color: #6E8869;
  font-family: "Prata", serif;
}

.growthQuote-section h1 {
  font-size: 15.9rem;
  line-height: 17.9rem;
  color: #6E8869;
}

.achivement {
  background-image: url(../images/RD_02.png);
  height: calc(100vh - 9rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.achivement h3 {
  font-size: 8rem;
  line-height: 8.6rem;
  margin-left: 13.5rem;
  width: 92.5rem;
  text-transform: uppercase;
  color: #552448;
}

.achivement h1 {
  font-size: 28rem;
  line-height: 30rem;
  text-align: right;
  text-transform: uppercase;
  color: #552448;
  margin: 2.5rem -7rem 0 0;
}

.achivement .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.achivement p {
  font-size: 2.6rem;
  line-height: 4.2rem;
  color: #333333;
  width: 66rem;
  margin-right: 13.5rem;
}

.skill {
  background-image: url(../images/RD_04.svg);
  background-size: cover;
  height: calc(100vh - 9rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill p {
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #552448;
  text-transform: uppercase;
  margin-left: 13.5rem;
}

.skill .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 13.5rem;
}

.skill .desc p {
  text-align: right;
}

.skill h1 {
  font-size: 16rem;
  line-height: 16.9rem;
  text-align: left;
  text-transform: uppercase;
  color: #552448;
}

.skill h1 span {
  font-family: "Prata", serif;
}

.skill .title h1:first-child {
  margin-left: -2.8rem;
}

.skill .title h1:last-child {
  text-align: right;
  margin-right: -2.8rem;
}

.skill .title {
  margin: 5rem 0;
}

.inspiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 9rem);
  background-image: url(../images/RD_22.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.inspiration__inner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inspiration__inner > div h1 {
  font-size: 24.8rem;
  line-height: 33.6rem;
  text-transform: uppercase;
  color: #552448;
  margin-right: 7.4rem;
  margin-left: -5.2rem;
}

.inspiration p {
  font-size: 4rem;
  line-height: 5.2rem;
  text-transform: uppercase;
  color: #552448;
  width: 80.8rem;
}

.inspiration h1 {
  font-size: 24.8rem;
  line-height: 33.6rem;
  margin-right: -10.4rem;
  text-transform: uppercase;
  color: #552448;
  text-align: right;
  margin-top: -10rem;
  margin-right: -10rem;
}

.culture-description .page-title {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  line-height: 3.4rem;
  top: 5rem;
  left: 5rem;
  position: absolute;
  text-transform: uppercase;
  color: #D29069;
}

.culture-description h1 {
  font-size: 8.7rem;
  line-height: 11.7rem;
  text-transform: uppercase;
  color: #D29069;
  margin-left: 13.5rem;
  margin-top: 15.1rem;
}

.culture-description h1 .text-bigger {
  font-size: 29.2rem;
  line-height: 30.2rem;
  font-family: "Prata", serif;
}

.culture-description h1 .text-big {
  font-family: "Prata", serif;
  font-size: 9.1rem;
  line-height: 12.3rem;
}

.culture-description .row {
  height: calc(100vh - 9rem);
}

.culture-description p {
  font-size: 2.7rem;
  line-height: 4.3rem;
  width: 55rem;
  margin-right: 4rem;
  margin-bottom: 7rem;
  color: #333333;
}

.culture-description img {
  position: absolute;
  top: 0;
  width: 52rem;
}

.growth-description .row {
  /* height: 100vh; */
  height: calc(100vh - 70px);
  position: relative;
}

.growth-description .page-title {
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #6E8869;
  text-transform: uppercase;
  position: absolute;
  top: 5rem;
  left: 5rem;
  font-family: "Open Sans", sans-serif;
}

.growth-description p {
  font-family: "Open Sans", sans-serif;
  font-size: 2.7rem;
  line-height: 4.3rem;
  width: 52rem;
  margin-left: 13.5rem;
  margin-top: 17.1rem;
  margin-top: 12rem;
  color: #333333;
  margin-bottom: 2rem;
}

.growth-description h1 {
  font-size: 5rem;
  line-height: 8.5rem;
  line-height: 6rem;
  margin-top: 1.6rem;
  margin-right: 20rem;
  text-transform: uppercase;
  color: #6E8869;
}

.growth-description h1 .text-smaller {
  font-family: "Prata", serif;
  font-size: 5.9rem;
  line-height: 7rem;

}

.growth-description h1 .text-big {
  font-size: 8.9rem;
  line-height: 11rem;
  font-family: "Prata", serif;
}

.growth-description h1 .text-bigger {
  font-family: "Prata", serif;
  font-size: 9.8rem;
  line-height: 11rem;
}

.growth-description .culture-img {
  display: flex;
  justify-content: flex-end;
}

.growth-description img {
  /* position: absolute;
  bottom: 0;
  width: 52rem; */
  height: 75vh;
  margin: auto auto 0 0;
  display: block;
}

.innovation-description .page-title {
  color: #284285;
  font-size: 2.5rem;
  line-height: 3.4rem;
  position: absolute;
  left: 5rem;
  top: 5rem;
  text-transform: uppercase;
}

.innovation-description img {
  height: calc(100% - 30%);
}

.innovation-description h1 {
  font-size: 3.15rem;
  line-height: 5.5rem;
  color: #284285;
  text-transform: uppercase;
  margin-left: 13.5rem;
  margin-top: 15rem;
  margin-bottom: 2rem;
}

.innovation-description h1 .text-big {
  font-size: 7.6rem;
  line-height: 9rem;
  font-family: "Prata", serif;
}

.innovation-description h1 .text-bigger {
  font-size: 8.8rem;
  line-height: 12rem;
  font-family: "Prata", serif;
}

.innovation-description p {
  font-size: 2.65rem;
  line-height: 4.3rem;
  width: 64.6rem;
  margin-left: 35.2rem;
  margin-right: 8.2rem;
  color: #333;
}

.brand-description .row {
  height: calc(100vh - 9rem);
}

.brand-description img {
  position: absolute;
  bottom: 0;
  right: 13.5rem;
  z-index: -1;
  width: 92.5rem;


  position: absolute;
  bottom: 12vh;
  right: 13.5rem;
  z-index: -1;
  width: 75rem;
}

.brand-description .page-title {
  font-size: 2.5rem;
  line-height: 3.4rem;
  color: #9F3232;
  text-transform: uppercase;
  /* position: absolute; */
  margin-top: 5rem;
  margin-left: 5rem;
}

.brand-description p {
  font-size: 2.7rem;
  line-height: 4.3rem;
  margin-left: 13.5rem;
  margin-top: 5.8rem;
  width: 55rem;
}

.brand-description h1 {
  margin-top: 10.5rem;
  margin-left: 26.5rem;
  font-size: 11.5rem;
  line-height: 15.5rem;
  color: #9F3232;
  z-index: 10;
  text-transform: uppercase;

  margin-top: 7rem;
}

.brand-description h1 span {
  font-family: "Prata", serif;
  font-size: 10.9rem;
  line-height: 14.7rem;
}

/* font-family: "Prata", serif; */

/** ANIMATIONS */

.cover {
  background: none;
}

.cover .title{
  border: none;
}

.cover .lines{
  position: absolute;
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #552448;
  z-index: -1;
}

.cover .lines svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.cover .lines .line-1{
  width: 40px;
  height: 100%;
  position: absolute;
  left: 2%;
}

.cover .lines .line-2{
  width: 40px;
  height: 100%;
  position: absolute;
  right: 2%;
}

.cover .lines .rounded{
  width: 100%;
  height: 38%;
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
}


.cover rect{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: coverLine 8s infinite linear forwards;
}

.cover line{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: coverLine 8s infinite linear forwards;
}

@keyframes coverLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.achivement{
  position: relative;
  background: none;
}

.achivement .lines{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.achivement .lines .circle-1{
  position: absolute;
  width: 100%;
  height: 100%;
}

.achivement .lines .circle-1 ellipse{
  transform: translate(-15%,-20%);
}

.achivement .lines .circle-2{
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0px;
  right: 0px;
}

.achivement .lines .circle-2 ellipse{
  transform: translate(16%,40%);
}

.achivement ellipse{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: achivementLine 5s infinite linear forwards;
}

@keyframes achivementLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.achivement .lines svg{
  width: 100%;
  height: 100%;
}

.skill{
  background: none;
}

.skill .lines{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.skill .lines svg{
  height: 100%;
}

.skill path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: skillLine 5s infinite linear forwards;
}

@keyframes skillLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.unique-dna{
  background: none;
}

.unique-dna .image{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width:56.2rem;
}

.unique-dna .image img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.unique-dna .lines{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px; left: 0px;
}

.unique-dna .lines svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.unique-dna path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: uniqueLine 8s infinite linear forwards;
}

@keyframes uniqueLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}


.culture{
  background: none;
}

.culture .row{
  position: relative;
}

.culture .images{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.culture .img-wrapper{
  position: absolute;
  height: 110%;
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.culture .images img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.culture .line{
  width: 105%;
  height: 105%;
  position: absolute;
}

.culture .line svg{
  width: 100%;
  height: 100%;
  left: 0%;
  bottom: 0%;
  position: absolute;
}

.culture path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: cultureLine 8s infinite linear forwards;
}

@keyframes cultureLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}



.brand{
  position: relative;
  background: none;
}

.brand .row{
  position: relative;
}

.brand .images{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.brand .img-wrapper{
  position: absolute;
  height: 110%;
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.brand .images img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.brand .line{
  position: absolute;
  width: 105%;
  height: 105%;
}

.brand .line svg{
  width: 100%;
  height: 100%;
  left: 0%;
  position: absolute;
}

.brand path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: brandLine 8s infinite linear forwards;
}

@keyframes brandLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}



.growth{
  position: relative;
  background: none;
}

.growth .row{
  position: relative;
}

.growth .images{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.growth .img-wrapper{
  position: absolute;
  height: 110%;
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.growth .images img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.growth .line{
  position: absolute;
  width: 105%;
  height: 105%;
}

.growth .line svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.growth path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: growthLine 8s infinite linear forwards;
}

@keyframes growthLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}


.innovation{
  position: relative;
  background: none;
}

.innovation .row{
  position: relative;
}

.innovation .images{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.innovation .img-wrapper{
  position: absolute;
  height: 110%;
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.innovation .images img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.innovation .line{
  position: absolute;
  width: 105%;
  height: 105%;
}

.innovation .line svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.innovation path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: innovationLine 8s infinite linear forwards;
}

@keyframes innovationLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.cultureQuote-section{
  background: none;
}

.cultureQuote-section .image{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 65.5rem;
  z-index: -1;
}

.cultureQuote-section .image img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}


.brandQuote-section{
  background: none;
}

.brandQuote-section .image{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 52.2rem;
  z-index: -1;
}

.brandQuote-section .image img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}



.growthQuote-section{
  background: none;
}

.growthQuote-section .image{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 55.3rem;
  z-index: -1;
}

.growthQuote-section .image img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}


.quote-section{
  background: none;
}

.quote-section .image{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 52.2rem;
  z-index: -1;
}

.quote-section .image img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.inspiration{
  background: none;
  position: relative;
  overflow: hidden;
}

.inspiration .line{
  position: absolute;
  width: 105%;
  height: 105%;
  z-index: -1;
  top: -4%;
}

.inspiration .line svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.inspiration path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: inspirationLine 8s infinite linear forwards;
}

@keyframes inspirationLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}


.visionary{
  background: none;
  position: relative;
}

.visionary .line{
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.visionary .line svg{
  width: 100%;
  height: 100%;
  left: -1%;
  bottom: 2%;
  position: absolute;
}

.visionary circle{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: visionaryLine 8s infinite linear forwards;
}

@keyframes visionaryLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}


.cover-back .circle{
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 47%;
  left: 48%;
  transform: translate(-50%,-50%);
  mix-blend-mode: overlay;
  opacity: .6;
}

.cover-back .circle .shape{
  position: relative;
  width: 50rem;
  height: 50rem;
  background-color: #FFF;
  border-radius: 50rem; 
}

.cover-back p{
  color: #FFFFFF;
}

.cover-back .paragraph-1{
  opacity: 0;
  transition: 1s all cubic-bezier(.55,.085,0,.99);
  transition-delay: 0s;
}

.cover-back .paragraph-2{
  opacity: 0;
  transition: 1s all cubic-bezier(.55,.085,0,.99);
  transition-delay: 0s;
}

.cover-back.show .paragraph-1{
  opacity: 1;
  transition-delay: 0s;
}

.cover-back.show .paragraph-2{
  opacity: 1;
  transition-delay: .5s;
}

.cover-back .title{
  z-index: 3;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  .quote__inner p {
    width: 65vw;
  }

  .sliders h1 {
    font-size: 13rem;
    line-height: 15rem;
  }

  .skill{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .skill p {
    font-size: 4.5rem;
    line-height: 6.5rem;
  }

  .skill .title {
    margin: 12rem 0;
  }

  .skill .lines {
    left: -30%;
  }

  .skill h1 {
    font-size: 17rem;
    line-height: 19.9rem;
  }

  .unique-dna .container-fluid{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .unique-dna__inner h1{
    margin-right: 0rem;
    margin-top: 8rem;
  }

  .unique-dna__inner h1 span{
    position: absolute;
    left: 4%;
    top: 16rem;
  }

  .culture-description h1 {
    margin-top: 25%;
  }

  .culture-description img{
    object-fit: cover;
    height: 85vh;
  }

  .cultureQuote-section .quote__inner p{
    padding-bottom: 5px;
  }

  .brand-description p{
    margin-top: 9%;
  }

  .brand-description img{
    bottom: 0px;
    object-fit: cover;
    width: 105rem;
    height: 71vh;
  }

  .growth-description p {
    margin-top: 25%;
  }

  .growth-description h1{
    font-size: 7rem;
    line-height: 8rem;
    margin-right: -10rem;
    z-index: 2;
  }

  .growth-description h1 .text-smaller{
    font-size: 6.7rem;
  }

  .growth-description h1 .text-big {
    font-size: 11.6rem;
  }

  .growth-description h1 .text-bigger{
    font-size: 13rem;
    line-height: 13rem;
  }

  .growthQuote-section .quote__inner p{
    width: 55vw;
  }

  .innovation-description h1{
    font-size: 4.4rem;
    margin-top: 25%;
  }

  .innovation-description h1 .text-big{
    font-size: 10.6rem;
    line-height: 13rem;
  }

  .innovation-description h1 .text-bigger{
    font-size: 11.8rem;
    line-height: 15rem;
  }

  .innovation-description .col-4{
    position: relative;
    height: 100vh;
  }

  .innovation-description img {
    height: 100%;
    width: 80%;
    object-fit: cover;
    position: absolute;
  }

  .visionary__inner p{
    white-space: nowrap;
  }
}

/* Mobiles */
@media only screen and (max-width: 600px) {
  .cover__inner img {
    width: 159px;
  }

  .cover{
    overflow: hidden;
  }

  .cover p {
    font-size: 21px;
    line-height: 29px;
    width: 302px;
    margin: 0 auto;
    text-align: center;
  }

  .cover .lines .rounded{
    width: 100%;
    height: 25%;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
  }

  .cover .lines .rounded rect{
    stroke-width: 3px;
  }

  .achivement{
    overflow: hidden;
  }

  .achivement .lines .circle-1{
    height: 70%;
  }

  .achivement .lines .circle-2{
    height: 50%;
  }

  .achivement .lines .circle-1 ellipse{
    transform: translate(-5%,-10%);
  }

  .achivement .lines .circle-2 ellipse{
    transform: translate(29%,4%);
  } 

  .sliders h1 {
    font-size: 90px;
    line-height: 108px;
  }

  .sliders .owl-item {
    height: 512px;
  }

  .sliders p {
    font-size: 24px;
    line-height: 36px;
  }

  .sliders .owl-theme .owl-nav {
    margin-top: 45px;
  }

  .skill .lines{
    overflow: hidden;
    left: 0%;
  }

  .skill .lines svg{
    transform: translateX(-50%);
  }

  .skill p {
    font-size: 20px;
    line-height: 25px;
    color: #552448;
    text-transform: uppercase;
    margin-left: 45px;
  }

  .skill .title {
    margin: 85px 0 112px;
  }

  .skill h1 {
    font-size: 60px;
    line-height: 65px;
  }

  .skill .title h1:first-child {
    margin-left: -15px;
  }

  .skill h1 span {
    font-size: 60px;
    padding-left: 20px;
  }

  .skill .title h1:last-child {
    text-align: left;
    margin-right: 0;
    font-size: 65px;
    line-height: 70px;
    margin-left: 40px;
  }

  .skill .desc p {
    margin-left: 0 !important;
  }

  .unique-dna__inner span {
    font-size: 57px;
    line-height: 59px;
    text-align: left;
    display: block;
    margin-left: 27px;
  }

  .unique-dna__inner h1 span{
    left: 0px;
    top: 0px;
  }

  .unique-dna__inner .title-one {
    top: -60px;
    margin-left: 0;
  }

  .unique-dna__inner h1 {
    font-size: 124px;
    line-height: 132px;
    margin-right: -20px;
    margin-top: 33rem;
  }

  .unique-dna__inner p {
    font-size: 15px;
    line-height: 19px;
    margin-left: 35px;
    max-width: 200px;
    margin-top: 0;
    position: absolute;
    bottom: 11vh;
  }

  /* .unique-dna img.d-desktop {
    display: none;
  }

  .unique-dna img.d-mob {
    display: block !important;
  } */

  .unique-dna .lines{
    overflow: hidden;
  }

  .unique-dna .lines svg{
    width: 82vw;
    height: 100vh;

  }

  .culture h1, .brand h1, .growth h1, .innovation h1 {
    font-size: 21.5vw;
    margin-left: -5.5vw;
  }

  .innovation h1{
    font-size: 15.5vw;
    margin-left: -10px;
  }

  .culture-description .page-title,
  .cultureQuote-section .quote__title,
  .brand-description .page-title,
  .brandQuote-section .quote__title,
  .growth-description .page-title,
  .growthQuote-section .quote__title,
  .innovation-description .page-title,
  .quote-section .quote__title {
    font-size: 16px;
    line-height: 22px;
    top: 43px;
    left: 34px;
    /* left: 15px; */
    margin: 0;
    padding: 0;
    position: absolute;
  }

  .culture-description h1 {
    font-size: 36px;
    line-height: 48px;
    margin-top: 99px;
  }

  .culture-description img {
    position: absolute;
    top: 233px;
    width: 249px;
    right: 0;
    z-index: -1;
    height: 45vh;
  }

  .culture .line image{
    transform: translateX(-4%);
  }

  .culture .line path{
    transform: translateX(11%);
  }

  .culture-description h1 .text-big {
    font-size: 38px;
    line-height: 51px;
  }

  .culture-description h1 .text-bigger {
    font-size: 123px;
    line-height: 123px;
  }

  .culture-description p {
    font-size: 16px;
    line-height: 26px;
    width: 340px;
    margin-right: 0;
    margin-bottom: 0;
    position: absolute;
    left: 35px;
    bottom: 10%;
  }

  .cultureQuote-section {
    align-items: flex-start;
  }
  
  .cultureQuote-section .quote__inner {
    margin-top: 118px;
    padding-left: 25px;
    width: auto;
    margin-left: 0;
  }

  .cultureQuote-section .quote__inner img {
    width: 10px;
    margin-right: 5px;
  }

  .cultureQuote-section .quote__inner p {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 10px;
    width: 100%;
  }

  .cultureQuote-section .quote__inner h1 {
    font-size: 32px;
    line-height: 50px;
  }

  .cultureQuote-section .image {
    top: auto;
    right: 0px;
    height: 366px;
    width: 364px;
    bottom: 40px;
    left: 40px;
  }

  .quote__inner div {
    /* word-break: break-all; */
  }

  .quote span {
    font-size: 13px;
    line-height: 18px;
  }

  .brand h1 {
    font-size: 30vw;
  }

  .brand .line image{
    transform: translateX(-29%);
  }

  .brand .line path{
    transform: translateX(-15%);
  }

  .brand-description h1 {
    margin-top: 270px;
    margin-left: 22px;
    font-size: 57px;
    line-height: 77px;
  }

  .brand-description h1 span {
    font-size: 54px;
    line-height: 73px;
    margin-left: -35px;
  }

  .brand-description p {
    font-size: 16px;
    line-height: 25px;
    margin-left: 0;
    margin-top: 0;
    width: 280px;
    position: absolute;
    bottom: 12vh;
    right: 30px;
  }

  .brand-description img {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 80%;
    height: 420px;
    object-fit: cover;
    object-position: -130px 30px;
    top: 133px;
    bottom: auto;
  }

  .brandQuote-section .image {
    display: none;
  }

  .brandQuote-section .image {
    width: 100%;
  }

  .brandQuote-section {
    overflow: hidden;
    height: 100vh;
  }

  .brandQuote-section .image {
    position: absolute;
    top: auto;
    left: auto;
    right: 0;
    height: 100%;
    width: auto;
    z-index: -1;
    bottom: 80px;
    display: flex;
    display: none;
  }

  .brandQuote-section .image img {
    width: 318px;
    height: 303px;
    position: absolute;
    object-fit: cover;
    right: 0;
    left: auto !important;
    margin: auto 0 0px auto;
    bottom: 0;
    top: auto !important;
    transform: translateY(50%) !important;
  } 

  .brandQuote-section {
    align-items: self-start;
  }

  .brandQuote-section .quote__inner {
    width: 354px;
    margin-left: 18rem;
    margin-left: auto;
    margin-right: 0;
    margin-top: 118px;
    padding-right: 35px;
  }

  .image {
    /* display: none !important; */
  }

  .quote__inner img {
    margin-right: 5px;
    width: 15px;
  }

  .brandQuote-section p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 10px;
  }

  .brandQuote-section h1 {
    font-size: 48px;
    line-height: 55px;  
  }

  .brandQuote-section .author span {
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    margin-left: 0;
    margin-right: auto;
  }

  .brandQuote-section .img-mob {
    display: block !important;
    position: absolute;
    bottom: 12vh;
    right: 0;
    z-index: -1;
    width: 310px;
  }

  .growth-description img {
    bottom: auto;
    width: 247px;
    top: 209px;
    right: 0;
    position: absolute;
    z-index: -1;
    height: auto;
  }

  .growth-description p {
    font-size: 16px;
    line-height: 26px;
    width: 340px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 41px;
    bottom: 34px;
  }

  .growth-description h1 {
    font-size: 28px;
    line-height: 8.5rem;
    line-height: 38px;
    margin-top: 98px;
    margin-right: 0;
    margin-left: 64px;
    z-index: 10;
  }

  .growth-description h1 .text-smaller {
    font-size: 26px;
    line-height: 35px;
  }

  .growth-description h1 .text-big {
    font-size: 45px;
    line-height: 61px;
  }

  .growth-description h1 .text-bigger {
    font-size: 50px;
    line-height: 68px;
  }

  .achivement p {
    font-size: 15px;
    line-height: 24px;
    width: 287px;
    margin-right: 27px;
    margin-top: 221px;
  }

  .achivement h1 {
    margin-top: 11px;
    font-size: 89px;
    line-height: 99px;
  }

  .achivement h3 {
    font-size: 29px;
    line-height: 31px;
    margin-left: 34px;
    width: 268px;
  }

  .skill p:first-of-type {
    margin-left: 45px;
  }

  .growth h1 {
    font-size: 22.8vw;
  }

  .growthQuote-section .image {
    display: none;
  }

  .growthQuote-section .quote__inner {
    position: absolute;
    bottom: 40px;
    left: 34px;
    margin-right: 31px;
  }

  .growthQuote-section p {
    font-size: 18px;
    line-height: 28px;
    width: 90% !important;
  }

  .growthQuote-section h1 {
    font-size: 42px;
    line-height: 57px;
  }

  .growthQuote-section .quote span {
    font-size: 13px;
    line-height: 18px;
  }

  .growthQuote-section .img-mob {
    display: block !important;
    position: absolute;
    right: 0;
    top: 88px;
    z-index: -1;
  }

  .growth .line svg{
    width: 280vw;
    height: 100%;
    bottom: 0px;
    left: -150vw;
  }

  .innovation .line svg{
    width: 280vw;
    height: 100%;
    bottom: 0px;
    left: -50vw;
  }

  .innovation-description .col-4{
    position: initial;
  }

  .innovation-description .container-fluid{
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .innovation-description img {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 70%;
    z-index: -1;
    width: 100%;
  }

  .innovation-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 90px);
    flex-direction: column;
  }

  .innovation-description h1 {
    font-size: 16px;
    line-height: 26px;
    color: #284285;
    text-transform: uppercase;
    margin-left: 34px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .innovation-description h1 .text-big {
    font-size: 39px;
    line-height: 55px;
  }

  .innovation-description h1 .text-bigger {
    font-size: 45px;
    line-height: 65px;
  }

  .innovation-description p {
    font-size: 15px;
    line-height: 24px;
    width: 216px;
    margin-left: 44px;
    margin-right: 0;
    color: #333;
    position: absolute;
    left: 0;
    bottom: 12vh;
  }

  .quote-section {
    align-items: flex-start;
  }

  .quote-section .quote {
    width: 100%;
    margin-top: 118px;
    padding-left: 0;
  }

  brandQuote-section .quote__inner p {
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  brandQuote-section .quote__inner h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .brandQuote-section .quote__title,
  .quote-section .quote__title {
    left: 0;
  }

  .quote-section .quote span {
    margin-right: 20px;
  }

  .quote-section .quote__inner p {
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 10px;
    width: 84%;
  }

  .quote-section .quote__inner p br{
    display: none;
  }

  .quote-section .quote__inner h1 {
    font-size: 38px;
    line-height: 50px;
  }

  .quote-section .quote__inner h1.bigger-1 {
    font-size: 10.5rem;
    line-height: 12.7rem;
  }
  
  .quote-section .quote__inner h1.bigger-2 {
    font-size: 12rem;
    line-height: 14.7rem;
  }
  
  .quote-section .quote__inner h1.bigger-3 {

    font-size: 14rem;
    line-height: 17.7rem;
  }
  

  .inspiration {
    height: 800px;
  }

  .innovation-img {
    display: none;
  }

  .innovation-img__mob {
    position: absolute;
    right: 0;
    bottom: 12vh;
    display: block !important;
  }

  .inspiration__inner > div h1 {
    font-size: 52vw;
    line-height: 210px;
    margin-right: 0;
    margin-left: -32px;
  }

  .inspiration h1 {
    font-size: 21vw;
    line-height: 117px;
    text-align: left;
    margin-top: -10rem;
    margin-right: 0;
    margin-left: -10px;
  }

  .inspiration p {
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    position: absolute;
    bottom: 180px;
    left: 20px;
  } 

  .inspiration .line{
    top: -8%;
  }

  .inspiration .line svg{
    transform: scale(2.5);
  }

  .inspiration__inner {
    margin-top: -15%;
  }

  .visionary__inner p {
    font-size: 20px;
    line-height: 26px;
    width: 100%;
    position: absolute;
    right: 30px;
    bottom: 164px;
    left: auto;
    text-align: right;
  }

  .visionary__inner h1 {
    font-size: 16vw;
    font-size: 53vw;
    line-height: 292px;
    margin: 0 9rem 0 -40px;
  }

  .visionary__title {
    font-size: 16vw;
    font-size: 18vw;
    line-height: normal;
    margin-top: -50px;
    margin-left: -13px;
    margin-bottom: 65px;
  }

  .visionary .line svg{
    transform: scale(3);
  }

  .visionary .line svg {
    bottom: -4%;
  }

  .cover-back__inner {
    justify-content: space-between;
  }

  .cover-back p {
    font-size: 18px;
    line-height: 22px;
    margin-left: 20px;
    margin-top: 50px;
  }

  .cover-back footer {
    font-size: 18px;
    line-height: 24px;
    margin-right: 20px;
    margin-bottom: 50px;
  }

  .cover-back h1 {
    font-size: 15vw;
  }

  .cover-back .circle{
    width: 90vw;
    height: 90vw;
    top: 50%;
    left: 50%;
  }
  
  .cover-back .circle .shape{
    width: 90vw;
    height: 90vw;
    border-radius: 90vw; 
  }

  .cover-back .paragraph-1{
    opacity: 1;
  }
  
  .cover-back .paragraph-2{
    opacity: 1;
  }
}