/*--- BEGIN SETTINS ---*/

@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  scroll-behavior: smooth;
  font-size: calc(100vw / 1600 * 10);
  height: calc(100vh - 9rem);
}

body{
  width: 100%;
  height: calc(100vh - 9rem);
  position: fixed;
  overflow: hidden;
}


@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

.svg-inline {
	position: relative;
	text-indent: 0 !important;
	background-image: none !important;
}

.svg-inline svg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.container-fluid{
  padding: 0px;
}

/*--- END SETTINS ---*/


/*--- BEGIN LAYOUT ---*/

.slides{
  width: 100%;
  height: 100%;
  position: absolute;
}

.quote-title {
  margin: 5rem 0 8.5rem 5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 3.4rem;
  position: absolute;
  top: 0;
}

.quote-title.qt-yellow{color: #D29069;}
.quote-title.qt-red{color: #9F3232;}
.quote-title.qt-green{color: #6E8869;}
.quote-title.qt-blue{color: #284285;}


.title{
  color: #552448;
  font-family: "Prata", serif;
  font-size: 25rem;
  line-height: 25rem;
}

.title.t-yellow{ color: #D29069;}
.title.t-red{ color: #9F3232;}
.title.t-green{ color: #6E8869;}
.title.t-blue{ 
  color: #284285; 
  font-size: 20rem;
  line-height: 20rem;
}

.title.t-center{
  text-align: center;
}

.paragraph{
  font-size: 2.97rem;
  font-family: "Open Sans", sans-serif;
}

.paragraph.p-bigger{
  font-size: 2.7rem;
}

.paragraph.p-yellow{color: #D29069;}
.paragraph.p-red{color: #9F3232;}
.paragraph.p-green{color: #6E8869;}
.paragraph.p-blue{color: #284285;}
.paragraph.p-black{color: #000;}

.paragraph span.s-red{color: #9F3232;}
.paragraph span.s-yellow{color: #D29069;}
.paragraph span.s-green{color: #6E8869;}
.paragraph span.s-blue{color: #284285;}

.paragraph .a-yellow{color: #D29069;}
.paragraph .a-green{color: #6E8869;}
.paragraph .a-blue{color: #284285;}


.controls{
  position: absolute;
  display: flex;
}

.controls.c-red .bt-arrow{border: 1px solid #9F3232;}
.controls.c-red .bt-arrow path{stroke: #9F3232;}

.controls.c-yellow .bt-arrow{border: 1px solid #D29069;}
.controls.c-yellow .bt-arrow path{stroke: #D29069;}

.controls.c-green .bt-arrow{border: 1px solid #6E8869;}
.controls.c-green .bt-arrow path{stroke: #6E8869;}

.controls.c-blue .bt-arrow{border: 1px solid #284285;}
.controls.c-blue .bt-arrow path{stroke: #284285;}

.controls.c-vine .bt-arrow{border: 1px solid #552448;}
.controls.c-vine .bt-arrow path{stroke: #552448;}

.controls .bt-arrow{
  width: 5.3rem;
  height: 5.3rem;
  border-radius: 100%;
  border: 1px solid red;
  position: relative;
  cursor: pointer;
}

.controls .bt-arrow .svg{
  width: 1rem;
  height: 2rem;
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  transition: .5s all cubic-bezier(.55,.085,0,.99);
}

.controls .bt-arrow.disable{
  opacity: .4;
}

.controls .bt-arrow.bt-right:hover .svg{
  transform: translate(-0%, -50%) rotate(180deg);
}

.controls .bt-arrow.bt-left:hover .svg{
  transform: translate(-80%, -50%);
}

.controls .bt-arrow.bt-right{
  margin-left: 1rem;
}

.controls .bt-arrow.bt-right .svg{
  transform: translate(-50%, -50%) rotate(180deg);
}

.controls.c-right{
  right: 6%;
  bottom: 10%;
}


.slider{
  position: relative;
  display: flex;
  transition: .5s all cubic-bezier(.55,.085,0,.99);
}

.slider .item{
  width: 100vw;
  height: calc(100vh - 90px);
  position: relative;
}


.lists{
  position: absolute;
  left: 65%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.lists .l-item{
  position: relative;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  flex-wrap: wrap;
}

.lists .l-item:last-child{
  margin-bottom: 0px;
}

.lists .icon{
  width: 11rem;
  height: 11rem;
  margin-right: 4rem;
  opacity: 1;
  transition: .5s all cubic-bezier(.55,.085,0,.99);
}

.lists .icon img{
  width: 100%≈;
}

.lists .icon .svg{
  width: 100%;
  height: 100%;
}

.lists .paragraph{
  width: 70%;
  opacity: 1;
  transform: translateX(0px);
  transition: .8s all cubic-bezier(.55,.085,0,.99);
}

/*--- END LAYOUT ---*/


/* -- SLIDE 08-1 -- */
.slide-08-1 .title{
  position: absolute;
	top: 50%;
	transform: translateY(-50%);
  font-size: 7.2rem;
  line-height: 8rem;
  left: 5rem;
  z-index: 2;
  text-transform: uppercase;
}

.slide-08-1 .title span{
  display: block;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-top: 2rem;
}

.slide-08-1 .image-video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
}

.slide-08-1 .image-video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-08-1 .image-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-08-1 .video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  z-index: -1;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
  opacity: 0;
}

.slide-08-1 .video.show{
  opacity: 1;
  z-index: 2;
}

.slide-08-1 .video video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-08-1 .button{
  position: absolute;
  width: 36.7rem;
  height: 18.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
  cursor: pointer;
  transition: .5s all cubic-bezier(.55,.085,0,.99);
  z-index: 4;
}

.slide-08-1 .button:hover{
  opacity: .4;
}

.slide-08-1 .button svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-08-1 svg rect{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine81 5s infinite linear forwards;
}

@keyframes animateLine81 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

/* -- SLIDE 09 -- */
.slide-09 .image{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: .6s all cubic-bezier(.55,.085,0,.99);
}

.slide-09 .video{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 1000;
  display: none;
}

.slide-09 .video.show{
  display: flex;
}

.slide-09 .bt-video{
  cursor: pointer;
}

.slide-09 .c-close{
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 14px;
  color: #D29069;
  font-family: "Prata", serif;
  z-index: 100;
  cursor: pointer;
}

.slide-09 .image .img{
  width: 95.2rem;
  height: 57.2rem;
  position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slide-09 .image img{
  width: 100%;
  height: 100%;
  object-fit: none;
  position: absolute;
  object-position: 11rem -7rem;
}

.slide-09 .image .svg{
  z-index: 2;
  position: absolute;
  width: 160rem;
  height: 100vh;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
}

.slide-09 .image .line{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-09 .image .svg svg{
  width: 100%;
}

.slide-09 .image .svg path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine9 5s infinite linear forwards;
}

@keyframes animateLine9 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.slide-09 .slider{
  width: 100vw;
}

.slide-09 .title{
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-79%, -62%);
  transition: .6s all cubic-bezier(.55,.085,0,.99);
  opacity: 0;
}

.slide-09 .title.show{
  opacity: 1;
}

.slide-09 .title .smaller-1{
  font-size: 8.6rem;
  line-height: 8.6rem;
  display: block;
  text-transform: uppercase;
}

.slide-09 .title .smaller-2{
  font-size: 9.1rem;
  line-height: 9.1rem;
  display: block;
  text-transform: uppercase;
}

.slide-09 .title .bigger{
  font-size: 29.3rem;
  line-height: 28.9rem;
  display: block;
  text-transform: uppercase;
}

.slide-09 .paragraph.p-absolute{
  position: absolute;
  left: 27%;
  bottom: 16%;
  transition: .6s all cubic-bezier(.55,.085,0,.99);
  transition-delay: .2s;
  opacity: 0;
  transform: translateX(-50px);
}

.slide-09 .paragraph.show{
  opacity: 1;
  transform: translateX(0px);
}

.slide-09 .lists{
  width: 99rem;
  left: 69%;
}

/* -- SLIDE 11-1 -- */
.slide-11-1 .title{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
  font-size: 7.2rem;
  line-height: 8rem;
  left: 5rem;
  z-index: 2;
  text-transform: uppercase;
}

.slide-11-1 .title span{
  display: block;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-top: 2rem;
}

.slide-11-1 .image-video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
}

.slide-11-1 .image-video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-11-1 .image-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-11-1 .video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  z-index: 2;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
  opacity: 0;
}

.slide-11-1 .video.show{
  opacity: 1;
}

.slide-11-1 .video video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-11-1 .button{
  position: absolute;
  width: 36.7rem;
  height: 18.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
  cursor: pointer;
  transition: .5s all cubic-bezier(.55,.085,0,.99);
  z-index: 4;
}

.slide-11-1 .button:hover{
  opacity: .4;
}

.slide-11-1 .button svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-11-1 svg rect{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine81 5s infinite linear forwards;
}

@keyframes animateLine81 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

/* -- SLIDE 12 -- */
.slide-12 .image{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: .6s all cubic-bezier(.55,.085,0,.99);
}

.slide-12 .image .img{
  width: 90.2rem;
  height: 57.2rem;
  position: absolute;
	left: -2%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slide-12 .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 13rem -17rem;
}

.slide-12 .image .svg{
  z-index: 2;
  position: absolute;
  width: 160rem;
  height: 90rem;
  left: -52%;
  top: -10%;
}

.slide-12 .image .line{
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-12 .image .svg svg{
  width: 100%;
  transform: rotate(13deg);
}

.slide-12 .image .svg path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine12 5s infinite linear forwards;
}

@keyframes animateLine12 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.slide-12 .slider{
  width: 100vw;
}

.slide-12 .lists{
  width: 91.5rem;
}



/* -- SLIDE 15 -- */
.slide-15 .image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: .6s all cubic-bezier(.55,.085,0,.99);
}

.slide-15 .video{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 1000;
  display: none;
}

.slide-15 .video.show{
  display: flex;
}

.slide-15 .bt-video{
  cursor: pointer;
}

.slide-15 .c-close{
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 14px;
  color: #6E8869;
  font-family: "Prata", serif;
  z-index: 100;
  cursor: pointer;
}

.slide-15 .image .img{
  width: 90.2rem;
  height: 66.2rem;
  position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slide-15 .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 38rem 2rem;
}

.slide-15 .image .svg{
  z-index: 2;
  position: absolute;
  width: 160rem;
  height: 90rem;
  left: -40px;
  top: 13%;
}

.slide-15 .image .line{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-15 .image .svg svg{
  width: 100%;
}

.slide-15 .image .svg path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine15 5s infinite linear forwards;
}

@keyframes animateLine15 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.slide-15 .slider{
  width: 100vw;
}

.slide-15 .lists{
  width: 70.5rem;
}


.slide-15 .lists{
  width: 80.5rem;
}

/* -- SLIDE 16-1 -- */
.slide-16-1 .title{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
  font-size: 7.2rem;
  line-height: 8rem;
  left: 5rem;
  z-index: 2;
  text-transform: uppercase;
}

.slide-16-1 .title span{
  display: block;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-top: 2rem;
}

.slide-16-1 .image-video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
}

.slide-16-1 .image-video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-16-1 .image-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-16-1 .video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  z-index: 2;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
  opacity: 0;
}

.slide-16-1 .video.show{
  opacity: 1;
}

.slide-16-1 .video video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-16-1 .button{
  position: absolute;
  width: 36.7rem;
  height: 18.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
  cursor: pointer;
  transition: .5s all cubic-bezier(.55,.085,0,.99);
  z-index: 4;
}

.slide-16-1 .button:hover{
  opacity: .4;
}

.slide-16-1 .button svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-16-1 svg rect{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine81 5s infinite linear forwards;
}

@keyframes animateLine81 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

/* -- SLIDE 18 -- */
.slide-18 .image{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
  transition: .6s all cubic-bezier(.55,.085,0,.99);
}

.slide-18 .video{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #FFF;
  z-index: 1000;
  display: none;
}

.slide-18 .video.show{
  display: flex;
}

.slide-18 .bt-video{
  cursor: pointer;
}

.slide-18 .c-close{
  position: absolute;
  top: 4rem;
  right: 4rem;
  font-size: 14px;
  color: #284285;
  font-family: "Prata", serif;
  z-index: 100;
  cursor: pointer;
}

.slide-18 .image .img{
  width: 74.2rem;
  height: 57.2rem;
  position: absolute;
	left: 0%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.slide-18 .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  object-position: 10vw;
}

.slide-18 .image .svg{
  z-index: 2;
  position: absolute;
  width: 160rem;
  height: 90rem;
  left: -2%;
  top: 50%;
  transform: translateY(-46%);
}

.slide-18 .image .line{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-18 .image .svg svg{
  width: 100%;
}

.slide-18 .image .svg path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine18 5s infinite linear forwards;
}

@keyframes animateLine18 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

.slide-18 .slider{
  width: 100vw;
}

.slide-18 .lists{
  width: 106.5rem;
}


/* -- SLIDE 19 -- */
.slide-19 img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-19 .image-1{
  width: 52rem;
  height: 74.2rem;
  position: absolute;
  top: 0px;
  right: 0px;
}

.slide-19 .image-2{
  width: 116.7rem;
  height: 31.2rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.slide-19 .image-2 img{
  object-position: 0px -59rem;
}

.slide-19 .title{
  position: absolute;
	left: 5rem;
	top: -10px;
}

.slide-19 .title .bigger{
  font-size: 13.7rem;
  line-height: 12.7rem;
  display: block;
  text-transform: uppercase;
}


.slide-19 .paragraph.p-absolute{
  position: absolute;
  left: 40%;
  top: 50%;
  margin-top: -2%;
  transform: translate(-50%, -50%);
}



/* -- SLIDE 20 -- */
.slide-20 img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-20 .image-1{
  width: 38.7rem;
  height: 69.3rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
}

.slide-20 .image-2{
  width: 49.9rem;
  height: 71.5rem;;
  position: absolute;
  top: 9rem;
  left: 9rem;
  z-index: 1;
}

.slide-20 .image-2 img{
  object-position: 0 -2rem;
}

.slide-20 .phrase{
  position: absolute;
	left: 28%;
	top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  width: 95.5rem;
}

.slide-20 .phrase .marks{
  position: absolute;
  font-size: 7.2rem;
  
  top: 2rem;
  left: -4rem;

}

.slide-20 .phrase .text{
  color: #552448;
  font-family: "Prata", serif;
  font-size: 3.1rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: 200;
}

.slide-20 .phrase .text .d-flex{
  margin-left: 20rem;
}

.slide-20 .phrase .text .bigger{
  font-size: 15.1rem;
  line-height: 10rem;
  margin-bottom: 8rem;
}

.slide-20 .phrase .author{
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;  
  color: #828282;
  margin-top: 20px;
  text-transform: uppercase;
}


/* -- SLIDE 20-1 -- */
.slide-20-1 .title{
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
  font-size: 7.2rem;
  line-height: 8rem;
  left: 5rem;
  z-index: 2;
  text-transform: uppercase;
}

.slide-20-1 .title span{
  display: block;
  font-size: 3.2rem;
  line-height: 3.8rem;
  margin-top: 2rem;
}

.slide-20-1 .image-video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
}

.slide-20-1 .image-video img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-20-1 .image-video video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-20-1 .video{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 106rem;
  height: 59.1rem;
  z-index: 2;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
  opacity: 0;
}

.slide-20-1 .video.show{
  opacity: 1;
}

.slide-20-1 .video video{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-20-1 .button{
  position: absolute;
  width: 36.7rem;
  height: 18.7rem;
  top: 50%;
  transform: translateY(-50%);
  right: 5rem;
  cursor: pointer;
  transition: .5s all cubic-bezier(.55,.085,0,.99);
  z-index: 4;
}

.slide-20-1 .button:hover{
  opacity: .4;
}

.slide-20-1 .button svg{
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-20-1 svg rect{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine81 5s infinite linear forwards;
}

@keyframes animateLine81 {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}

/* -- SLIDE 21 -- */
.slide-21 .images{
  position: absolute;
  z-index: -1;
}

.slide-21 .images.show{
  opacity: 1;
}

.slide-21 .images img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-21 .image-1{
  width: 25rem;
  height: 100%;
  top: 0px;
  left: -2%;
}

.slide-21 .image-2{
  width: 79rem;
  height: 43.9rem;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-21 .image-3{
  width: 51.8rem;
  height: 43.9rem;
  top: 0px;
  right: 0px;
}

.slide-21 .image-4{
  width: 79.2rem;
  height: 45rem;
  top: 0px;
  left: 0px;
}

.slide-21 .image-5{
  width: 51.9rem;
  height: 105%;
  top: 0px;
  left: 78%;
  transform: translateX(-50%);
}

.slide-21 .title.t-1 {
  font-size: 5.4rem;
  line-height: 7rem;
  position: absolute;
  left: -10px;
  top: 10%;
  text-transform: uppercase;
  transform: translateX(-100px);
  opacity: 0;
}

.slide-21 .title.t-1 .bigger {
  font-size: 9.4rem;
  line-height: 12.2rem;
}

.slide-21 .title.t-1.show{
  opacity: 1;
  transform: translateX(0px);
}

.slide-21 .title.t-2{
  font-size: 8.3rem;
  line-height: 11rem;
  position: absolute;
  right: 5%;
  bottom: 25%;
  transform: translateX(500px);
  opacity: 0;
  transition: .8s all cubic-bezier(.55,.085,0,.99);
  text-transform: uppercase;
  text-align: right;
}

.slide-21 .title.t-2.show{
  opacity: 1;
  transform: translateX(0px);
}

.slide-21 .slider{
  width: 200vw;
}

.slide-21 .timeline{
  position: absolute;
  width: 100%;
  height: 30rem;
  bottom: 10%;
  display: flex;
  justify-content: center;
  padding: 0rem 4rem;
  overflow: hidden;
}

.slide-21 .timeline.t-second{
  padding-left: 2rem;
  justify-content: flex-start;
}

.slide-21 .timeline.t-second .line{
  left: 0px;
}

.slide-21 .timeline .year{
  width: 33.333%;
  font-family: "Open Sans", sans-serif;
  color: #552448;
  padding: 0px 5rem;
  cursor: pointer;
}

.slide-21 .timeline .year circle:first-child{
  transition: .2s all cubic-bezier(.55,.085,0,.99);
}

.slide-21 .timeline .year.hover circle:first-child{
  stroke-dasharray: 0,0;
}

.slide-21 .title.hover{
  padding-left: 28rem;
}

.slide-21 .timeline .year .type{
  font-size: 3.5rem;
  margin-bottom: 4.6rem;
}

.slide-21 .timeline .year .texts{
  font-size: 2.1rem;
  line-height: 3.1rem;
}

.slide-21 .timeline .year .texts span{
  display: flex;
  font-size: 2.2rem;
  line-height: 2.2rem;
}

.slide-21 .timeline .year .texts span:not(:last-of-type) {
  margin-bottom: 3rem;
}

.slide-21 .timeline .year .texts span:before{
  content: '•';
  font-family: "Open Sans", sans-serif;
  color: #552448;
  margin-right: .8rem;
}

.slide-21 .timeline .bullet{
  width: 5.8rem;
  height: 5.8rem;
  position: relative;
  margin-top: 5rem;
}

.slide-21 .timeline .bullet svg{
  top: -.2rem;
}

.slide-21 .timeline .bullet svg circle:first-child{
  fill: #FFF;
}

.slide-21 .timeline .line{
  position: absolute;
  bottom: 7.2rem;
  left: 0rem;
  width: 100%;
}

.slide-21 .timeline .line path{
  stroke-dasharray: 6,6;
  stroke-dashoffset: 200;
  animation: animateLine 5s infinite linear forwards;
}

@keyframes animateLine {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 6,6;
  }
}


.slide-20 .phrase .d-flex span {
  font-size: 8.2rem;
  line-height: 10rem;
  position: absolute;
  top: 0px;
  left: -5rem;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  .quote-title {
    font-size: 2.8rem;
    font-weight: 300;
  }

  .slide-18 .image .svg {
    bottom: -8%;
  }

  .slide-19 .title {
    top: 7%;
  }

  .slide-19 .paragraph.p-absolute{
    text-transform: uppercase;
  }

  .slide-19 .image-2 {
    height: 41.2rem;
  }

  .slide-19 .image-2 img {
    object-position: 0px -51rem;
  }

  .slide-20 .image-2{
    left: 5%;
    height: 90.5rem;
    width: 50.9rem;
  }

  .slide-20 .image-2 img {
    object-position: inherit;
  }
}

/* Mobiles */
@media only screen and (max-width: 600px) {

  .quote-title {
    font-size: 16px;
    line-height: 22px;
    top: 43px;
    left: 34px;
    margin: 0;
    padding: 0;
  }

  .lists .icon {
    /* width: 52px; */
    /* height: 52px; */
  }

  .lists .icon img{
    width: 100%;
  }

  .lists .l-item {
    margin-bottom: 25px;
    flex-wrap: nowrap;
  }

  .paragraph {
    font-size: 14px;
    line-height: 19px;
    margin-right: 15px;
  }

  .lists{
    position: relative;
    transform: none;
    left: auto !important;
    top: auto;
    margin: 0 auto;
    width: auto !important;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lists br{
    display: none;
  }

  .lists .icon{
    width: 16rem;
    height: 16rem;
  }

  .lists .paragraph{
    width: 100%;
    margin-right: 0px;
  }

  .lists .paragraph br{
    display: none;
  }

  .lists .l-item{
    margin-bottom: 20px;
  }

  .slider .item{
    height: auto;
  }

  .slider{
    /* margin-top: 55vh; */
    position: absolute;
    bottom: 10%;
  }

  .paragraph{
    font-size: 14px;
    line-height: 17px;
  }

  .slide-08-1 .title{
    top: 23%;
    font-size: 35px;
    line-height: 49px;
    left: 30px;
  }

  .slide-08-1 .title span{
    font-size: 16px;
    line-height: 24px;
  }
  
  .slide-08-1 .image-video{
    width: 100vw;
    height: 86rem;
  }
  
  .slide-08-1 .video{
    width: 100vw;
    height: 86rem;
  }

  .slide-08-1 .button{
    width: 180px;
    height: 107px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    right: auto;
  }

  .slide-09 .image{
    height: 50vh;
    top: 20px;
  }

  .slide-09 .image .img{
    width: 300px;
    height: 298px;
    left: 137px;
    right: 0px;
    transform: none;
    top: 60px;
  }

  .slide-09 .image img{
    object-fit: cover;
    object-position: -150px;
  }

  .slide-09 .image .svg{
    width: 320vw;
    height: 100vh;
    left: 35%;
    top: 94%;
  }

  .slide-09 .image path{
    stroke-width: 4px;
  }

  .slide-11-1 .title{
    top: 24%;
    font-size: 35px;
    line-height: 49px;
    left: 30px;
  }

  .slide-11-1 .title span{
    font-size: 16px;
    line-height: 24px;
  }
  
  .slide-11-1 .image-video{
    width: 100vw;
    height: 86rem;
    top: 55%;
  }
  
  .slide-11-1 .video{
    width: 100vw;
    height: 86rem;
  }

  .slide-11-1 .button{
    width: 180px;
    height: 107px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    right: auto;
  }

  .slide-12 .image{
    height: 50vh;
    top: 20px;
    right: -6%;
  }


  .slide-12 .image .img{
    width: 290px;
    height: 298px;
    left: auto;
    right: 0px;
    transform: none;
    top: 60px;
    overflow: hidden;
  }

  .slide-12 .image img{
    object-position: -90px;
  }

  .slide-12 .image .svg{
    width: 270vw;
    height: 100vh;
    left: -5%;
    top: 0%;
  }

  .slide-12 .image .line{
    transform: rotate(0deg);
  }

  .slide-12 .image .svg svg{
    transform: rotate(-167deg)
  }

  .slide-12 .image path{
    stroke-width: 4px;
  }

  .slide-15 .image{
    height: 50vh;
    width: 100%;
    top: 20px;
  }

  .slide-15 .image .img{
    width: 271px;
    height: 318px;
    left: auto;
    right: 0px;
    transform: none;
    top: 46px;
  }

  .slide-15 .image img{
    object-position: -140px -20px;
  }

  .slide-15 .image .svg{
    width: 240vw;
    height: 100vh;
    left: 30%;
    top: -22%;
  }

  .slide-15 .image path{
    stroke-width: 4px;
  }

  .slide-16-1 .title{
    top: 23%;
    font-size: 35px;
    line-height: 49px;
    left: 30px;
  }

  .slide-16-1 .title span{
    font-size: 16px;
    line-height: 24px;
  }
  
  .slide-16-1 .image-video{
    width: 100vw;
    height: 86rem;
    top: 55%;
  }
  
  .slide-16-1 .video{
    width: 100vw;
    height: 86rem;
  }

  .slide-16-1 .button{
    width: 180px;
    height: 107px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    right: auto;
  }

  .slide-18 .image{
    height: 50vh;
    width: 100%;
    top: 20px;
  }

  .slide-18 .image .img{
    width: 240px;
    height: 270px;
    left: auto;
    right: 0px;
    transform: none;
    top: 60px;
  }

  .slide-18 .image img{
    object-position: -70px;
  }

  .slide-18 .image .svg{
    width: 170vh;
    height: 100vh;
    right: auto;
    top: -21%;
    left: 1%;
    transform: none;
  }

  .slide-18 .image path{
    stroke-width: 1px;
  }

  /* .slide-18 .lists .paragraph {
    margin-right: 0;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  } */

  .slide-18 .lists .l-item {
    align-items: flex-start;
  }

  /* .slide-18 .lists .icon {
    width: 46px;
    height: 46px;
    margin-right: 20px;
  }

  .slide-18 .lists .icon .svg {
    width: 100%;
    height: 100%;
  }

  .slide-18 .svg-inline svg {
    width: 46px;
    height: 46px;
  } */


  .slide-19 .image-1 {
    width: 250px;
    height: 260px;
    top: 40px;
    z-index: -1;
    right: auto;
  }

  .slide-19 .image-1 img{
    object-position: 0px -20px;
  }

  .slide-19 .image-2 {
    width: 150px;
    height: 297px;
    left: auto;
    right: 0px;
    bottom: -3%;
  }

  .slide-19 .image-2 img{
    object-position: -160px;
  }

  .slide-19 .paragraph.p-absolute {
    display: none;
  }

  .slide-19 .paragraph.p-absolute.p-2 {
    position: absolute;
    left: 40%;
    top: 50%;
    margin-top: 0;
    transform: none;
    bottom: auto;
    z-index: 10;
    left: 35px;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    width: 245px;
    display: block !important;
    transform: translateY(-50%);
    margin-top: 70rem;
  }

  .slide-19 .title {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
  }

  .slide-19 .title .bigger {
    font-size: 62px;
    line-height: 64px;
    z-index: 10;
  }

  .slide-20 .image-1{
    width: 194px;
    height: 346px;
  }

  .slide-20 .image-2 {
    width: 244px;
    height: 356px;
    left: 40px;
    top: 10%;
  }

  .slide-20 .image-2 img{
    object-position: 0px -40px;
  }

  .slide-20 .phrase {
    bottom: 100px;
    right: auto;
    top: auto;
    transform: none;
    width: 100%;
    left: 15px;
    bottom: 20%;
  }

  .slide-20 .phrase .text p {
    font-size: 5rem;
    line-height: 11rem;
    margin-right: 10px !important;
  }

  .slide-20 .phrase .text-mob div {
    display: flex;
  }
  
  .slide-20 .phrase .text .bigger {
    font-size: 20rem;
    line-height: 40px !important;
    margin-left: 28px;
  }
  
  
  .slide-21 .title.t-1 {
    font-size: 10rem;
    line-height: 12rem;
    left: 0px;
    top: 50px;
    padding: 0px 30px;
    width: 100%;
  }

  .slide-21 .title.t-1 br{
    display: none;
  }

  .slide-21 .title.t-1 .bigger {
    font-size: 10rem;
    line-height: 12rem;
  }
  
  .slide-21 .title.t-2{
    font-size: 32px;
    line-height: 40px;
    right: 30px;
    bottom: 16%;
  }
  
  .slide-21 .slider{
    width: 200vw;
    margin-top: 210px;
    height: calc(100vh - 210px);
  }
  
  .slide-21 .timeline{
    width: 100%;
    height: 100%;
    bottom: 0px;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0rem 30px;
    padding: 0rem 0 0 30px;
    width: 300px;
  }
  
  .slide-21 .timeline .year{
    width: 100%;
    position: relative;
    padding-left: 60px;
    margin-bottom: 40px;
  }

  .slide-21 .timeline .year:last-child{
    margin-bottom: 0px;
  }

  .slide-21 .timeline.t-second{
    padding-left: 30px;
    justify-content: flex-start;
    top: -130px;
  }
  
  .slide-21 .timeline.t-second .line{
    left: -34%;
    top: 0px;
  }
  
  .slide-21 .timeline .year.hover circle:first-child{
    stroke-dasharray: 0,0;
  }
  
  .slide-21 .title.hover{
    padding-left: 0px;
  }
  
  .slide-21 .timeline .year .type{
    font-size: 21px;
    margin-bottom: 12px;
    line-height: 32px;
  }
  
  .slide-21 .timeline .year .texts{
    font-size: 17px;
    line-height: 19px;
  }
  
  .slide-21 .timeline .year .texts span{
    font-size: 17px;
    line-height: 19px;
  }
  
  .slide-21 .timeline .year .texts span:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .slide-21 .timeline .year .texts span:before{
    margin-right: 10px;
  }
  
  .slide-21 .timeline .bullet{
    width: 34px;
    height: 34px;
    margin-top: 0px;
    position: absolute;
    top: 0px; left: 0px;
  }
  
  .slide-21 .timeline .bullet svg{
    top: 0px;
  }
  
  .slide-21 .timeline .line{
    bottom: auto;
    left: -34%;
    width: 100%;
    transform: rotate(90deg);
  }

  .slide-21 .timeline .line svg{
    height: 4px;
  }
  
  .slide-21 .timeline .line path{
    stroke-width: 2px;
  }

  .slide-21 .controls{
    right: 30px;
    bottom: 20px;
  }

  .slide-21 .controls .bt-arrow{
    width: 39px;
    height: 39px;
  }

  .slide-21 .controls .bt-arrow.bt-right{
    margin-left: 10px;
  }

  .slide-21 .controls .bt-arrow.bt-right .svg{
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  .slide-21 .controls .bt-arrow.bt-left .svg{
    transform: translate(-50%, -50%) rotate(90deg);
  }

  .slide-21 .controls .bt-arrow .svg{
    width: 7px;
    height: 14px;
  }

  .slide-21 .images{
    display: none;
  }

  .inspiration p {
    font-size: 16px;
    line-height: 20px;
    width: 100%;
    position: absolute;
    bottom: 70px;
    left: 40px;
  }
}